<table class="fitness-table">
  <thead>
    <tr>
      <th>Categories</th>
      <th>Practical Sums</th>
      <th>Operator</th>
      <th>Criteria Sums</th>
      <th>Evaluation result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="cid:pullup@cohort"/></td>
      <td>{{realData.pullups}}</td>
      <td>{{operators.pullups}}</td>
      <td>{{baseData.pullups}}</td>
      <td class="evaluation-col">
        <img src="cid:{{evaluations.pullups.picture}}"/>
        <span>{{evaluations.pullups.text}}<span>
      </td>
    </tr>
    <tr>
      <td><img src="cid:situp@cohort"/></td>
      <td>{{realData.situps}}</td>
      <td>{{operators.situps}}</td>
      <td>{{baseData.situps}}</td>
      <td class="evaluation-col">
        <img src="cid:{{evaluations.situps.picture}}"/>
        <span>{{evaluations.situps.text}}</span>
      </td>
    </tr>
    <tr>
      <td><img src="cid:running@cohort"/></td>
      <td>{{realData.runnings}}</td>
      <td>{{operators.runnings}}</td>
      <td>{{baseData.runnings}}</td>
      <td class="evaluation-col">
        <img src="cid:{{evaluations.runnings.picture}}"/>
        <span>{{evaluations.runnings.text}}</span>
      </td>
    </tr>
  </tbody>
</table>